%br
%br
.row{id:"wire"}
	-@birds.each do |b|
		.birdholder
			.birdcage{id: "#{b.id}"}
				.bird{class: "#{b.size} #{b.color}"}
					.row
						.eye
						.eye
					
					.row
						.upperBeak
					.row
						.lowerBeak
					
					
				
				
			
				.name
					=b.name
				.remove{"data-bird-id" => b.id}
					remove
				=link_to "x" ,bird_path(b.id), class:"delete", :method => "delete"
		


-@birds.each do |b|
	.small-4.large-4.columns.small-centered
		.updatebox.hidden{id: "update-#{b.id}"}
			%h2 Update this bird
			=form_for b, remote:true do |b|
				Name
				=b.text_field :name
				=b.select :color, options_for_select([['blue', "blue"],["red", "red"],["yellow", 'yellow']])
				=b.select :size, options_for_select([["Small", 'small'],["Medium", "medium"],["Large", "large"]])
				=b.hidden_field :id 
				=b.submit class: "button tiny"
				.div{class:"button tiny close"} Close this window

















.small-4.large-4.columns.small-centered
	
	.newbox.hidden
		%br
		%h2 Add Bird
		=form_for @new_bird, url: birds_path, remote:true, method: :post do |b|
			name:
			=b.text_field :name
			color
			=b.select :color, options_for_select([['Blue', "blue"],["Red", "red"],["Yellow", 'yellow']])
			=b.select :size, options_for_select([["Small", 'small'],["Medium", "medium"],["Large", "large"]])
			=b.submit class: "button tiny"
			.div{class:"button tiny close"} Close this window





